
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --azulbebe:#61dee2;
    --azulescuro:#024cad;
    --azulclaro:#347fe1;
    --dourado:#b8920b;
    --cinzaescuro: #494949;
    --cinzaclaro:#a6a6a6;
}

header h1{
    background-image: linear-gradient(to right, var(--azulbebe), var(--azulescuro));
    text-align: center;
    padding: 10px 0px;
}

i#burguer{
    background-color: var(--cinzaescuro);
    text-align: center;
    display: block;
    color: white;
    padding: 10px;
    cursor: pointer;
}

i#burguer:hover{
    color: black;
    background-color: var(--cinzaclaro);
}

menu > ul > li > a{
    display: block;
    color: white;
    text-decoration: none;
    background-color: var(--cinzaclaro);
    font-size: 1.2em; 
    padding: 6px 10px;
    border: 2px solid var(--cinzaescuro);
}

menu{
    display: none;
    text-align: center;
}

menu a:hover{
    text-decoration: underline;
    background-color: rgb(201, 201, 201);
    color: black;
}

body{
    background-color: rgb(210, 209, 209);
}

main{
    background-color: white;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
}

main h2{
    text-align: center;
    margin-bottom: 30px;
}

main h3{
    margin-bottom: 5px;
}

article p{
    text-indent: 20px;
    text-align: justify;
    margin-bottom: 20px;
}


img{
    width: 100%;
}
