

@media screen and (min-width: 768px){

    header{
        background-image:linear-gradient(to right,var(--azulbebe),var(--azulescuro));
        margin-bottom: 20px;
    }

    i#burguer{
        display: none;
    }

    menu{
        display: block;
        text-align: left;
    }

    menu > ul > li{
        display: inline-block;
    }

    menu > ul > li > a{
        background-color: var(--cinzaescuro);
    }

    main{
        width: 730px;
        margin: auto;
    }
    
}

@media screen and (max-width:875px){
    menu > ul > li > a{
    font-size: 1em;
    }
}